<h1>Vets#index</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Specialization</th>
    </tr>
  </thead>
  <tbody>
    <% @vets.each do |vet| %>
      <tr>
        <td><%= link_to "#{vet.first_name} #{vet.last_name}", vet_path(vet) %></td>
        <td><%= vet.email %></td>
        <td><%= vet.specialization %></td>
      </tr>
    <% end %>
  </tbody>
</table>